{
  "name": "tblJobMaster",
  "config": {
    "connector.class": "io.debezium.connector.sqlserver.SqlServerConnector",
    "database.applicationIntent": "ReadOnly",
    "database.encrypt": "false",
    "database.hostname": "sqlserver",
    "database.names": "yerelservis",
    "database.password": "Rootroot1.",
    "database.server.name": "domainA.yerelservis",
    "database.user": "user1",
    "heartbeat.interval.ms": "1000",
    "schema.history.internal.kafka.bootstrap.servers": "kafka:9092",
    "schema.history.internal.kafka.topic": "domainA.schema-changes.yerelservis",
    "schema.whitelist": "dbo",
    "snapshot.isolation.mode": "snapshot",
    "snapshot.mode": "initial",
    "table.include.list": "dbo.tblJobMaster",
    "tasks.max": "1",
    "topic.prefix": "domainA",
    "topic.creation.default.partitions": 20,
    "topic.creation.default.replication.factor": 1,
    "topic.creation.default.cleanup.policy": "compact",
    "topic.creation.default.compression.type": "lz4",
    "transforms": "changes,unwrap",
    "transforms.changes.header.changed.name": "changed",
    "transforms.changes.header.unchanged.name": "unchanged",
    "transforms.changes.type": "io.debezium.transforms.ExtractChangedRecordState",
    "transforms.unwrap.delete.handling.mode": "rewrite",
    "transforms.unwrap.drop.tombstones": "false",
    "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState"
  }
}
