KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_GROUP_ID=foo
KAFKA_TOPIC=sample_prefix_.yerelservis.dbo.tblJobMaster
POSTGRES_DATA_SOURCE="host=external-db port=5432 user=postgres password=postgres dbname=postgres sslmode=disable"
